<!-- <h1>HI I'm the form page for cat#edit</h1> -->

<!-- action_url
hidden method for PATCH
prepopulated values (include options)
submit/update button -->

<% if action == :edit %>
  <% action_url = cat_url(cat) %>
<% else %>
  <% action_url = cats_url %>
<% end %>

<form action="<%= action_url  %>" method="post">
  <% if action == :edit %>
    <input type="hidden" name="_method" value="PATCH">
  <% end %>

  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]" value="<%= cat.name %>">

  <br>

  <label for="birth_date">Birthday</label>
  <input id=birth_date type="date" name="cat[birth_date]" value="<%= cat.birth_date %>">

  <br>

  <label for="color">Color</label>
  <select name="cat[color]" id="color">
    <option disabled <%= cat.color ? "" : "selected" %>-- Please Select --</option>
    <% Cat::COLORS.each do |color| %>
      <option><%= color %></option>
    <% end %>
  </select>

  <br>

  <label for="genderchoice1">Male</label>
  <input id="genderchoice1" type="radio" name="cat[sex]" value="M" checked="<%= cat.sex == "M" ? true : false %>" >
  <label for="genderchoice2">Female</label>
  <input id="genderchoice2" type="radio" name="cat[sex]" value="F" checked="<%= cat.sex == "F" ? true : false  %>">

  <br>

  <label for="description">Description</label>
  <textarea name="cat[description]" id="description"><%= cat.description  %></textarea>

  <input type="submit" value="<%= action == :edit ? 'Update Cat' : 'Submit Cat' %>">

</form>
